.home{
    margin: 2rem auto;
    width: 100%;
    max-width: 40rem;
}
.ui{
    list-style: none;
}
.actions{
    display: flex;
    list-style: none;
    justify-content: center;
}
.type{
    padding: 3%;
}
.click{
    size: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.value{
    align-items: center;
    display: flex;
    list-style: none;
}
.clicked{
    size: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ea6d00;
}